*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    opacity: 0.8;
}

.container{
    align-items: center;
    justify-content: center;
    margin: 3%;
    display: flex;
    flex-direction: row;
    padding: 1%;
}

img{
    display: block;
    height: 500px;
    width: 400px;
    padding: 10%;
}

.content{
    padding: 10%;
    color:cyan ;
}

.icon{
    display:block;
    width: 50px;
    height: 10px;
}