@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(../images/quiz.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    opacity: 0.8;
}
.main-box {
    margin-top: 10%;
    margin-left: 33%;
    align-items: center;
    justify-content: center;
}
.main-content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(0,0,0);
}
.outer-box{
    margin-top: 50px;
    margin-left: 25px;
    display: inline-flex;
    width: 450px;
    padding: 5px;
    justify-content: space-around;
}


.box{
   padding: 20px;
}
a{

    display: inline-block;
    text-decoration: none;
    justify-content: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.container {
    overflow: hidden;
    background-color: rgb(241, 173, 173);
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.container a{
    font-size: 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(201, 188, 188);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}
.btn{
    display: inline-block;
    padding: 0.5em 2em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.4em;

}
.btn-primary{
    background-color: white;
    border-radius: 6rem;


}

.btn:hover{
    background:rgb(179, 255, 179);
    transform: scale(1.1); 
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {box-shadow: 10px 15px 10px rgb(0, 204, 0);}
  }
.md-heading{
    font-size: 2rem;
}
.text-red{
    color: rgb(238, 50, 50);
}
  

.text-box{
    font-size: 80px;
    font-family: sans-serif;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span{
    animation: mover 6s linear infinite;
    display: inline-block;
    color: olivedrab;
    font-weight: bolder;
}
@keyframes mover
{
    0%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
    50%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
        transform: translateY(30px);
      }
    100%
      {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
}
span:nth-child(1)
{
    animation-delay: 0.5s;
}
span:nth-child(2)
{
    animation-delay: 1s;
}
span:nth-child(3)
{
    animation-delay: 1.5s;
}
span:nth-child(4)
{
    animation-delay: 2s;
}
span:nth-child(5)
{
    animation-delay: 2.5s;
}
span:nth-child(6)
{
    animation-delay: 3s;
}
span:nth-child(7)
{
    animation-delay: 3.5s;
}
span:nth-child(8)
{
    animation-delay: 4s;
}
span:nth-child(9)
{
    animation-delay: 4.5s;
}
span:nth-child(10)
{
    animation-delay: 5s;
}